{% extends 'base.html' %}{% load crispy_forms_tags %}{% load static %}

{% block content %}
<style>
    /* https://www.w3schools.com/cssref/tryit.asp?filename=trycss3_background_hero */
    html, body  { 
        background: url("/static/images/127.jpg") no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>
    <h1 class="display-1 mt-3 text-center">Personal Care</h1>
     <div>
        <h2 class="display-4 text-center">Skin Analysis</h2>
        <p></p>
        <div class="text-center"> 
           <a class="btn orb-btn show-form" data-url="/quizapp/customers/"
            data-toggle="modal" data-target="#modal-quiz">Take Quiz&nbsp;&raquo;
            </a> 
        </div> 
    </div>

    <div id="loader"></div>    
    <div class="modal fade" id="modal-quiz">
        <div class="modal-dialog">
            <div class="modal-content" id="modal-content">
                <form method="POST" data-url="/quizapp/customers/" class="create-form" id="form">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title">Create Profile</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <div class="mb-6">
                            {{ form|crispy }}
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary save-form">Process</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

<div hidden>
    <div class="card mt-4 shadow-sm border-info" style="width: 50rem;">
        <div class="card-header border-info">
            <h4 class="my-0 font-weight-normal">Welcome!
                <span class="name"></span>
                <span id="ques_count" style="margin-left: 15%;"></span>
            </h4>
        </div>
        <div class="card-body border-info quiz_body">
            <div id="questions">
                <h3 id="question"></h3>
                <form name="watr-intake" id="watr-intake" class="option_group">
                    <table class="option_table"><tbody id="option_table"></tbody></table>
                    <h3 class="float-right pt-3" id="water-content"></h3>
                </form> 
                <p id="note" class="pt-5 d-none"></p>
            </div>
        </div>
        <div class="card-footer text-muted border-info">
            <a id="btn-previous" class="btn btn-primary orb-btn invisible" href="#" onclick="previous()">Previous</a>
            <a id="btn-next" class="btn btn-primary orb-btn float-right invisible" href="#" onclick="next()">Next Question</a>
        </div>
    </div>
</div>

{% endblock %}

{% block extraJS %}

<script src="{% static 'js/index.js' %}"></script>

{% endblock %}