{% extends 'base.html' %}{% load crispy_forms_tags %}{% load static %}
{% block content %}
    <div class="card mt-4 shadow-sm border-info card-size">
        <div class="card-header border-info">
            <h3 class="my-0 font-weight-normal">Welcome!
                <span class="name"></span>
                <span id="ques_count" style="margin-left: 30%;" class=""></span>
            </h3>
        </div>
        <div class="card-body border-info quiz_body">
            <div id="questions">
                <h2 id="question"></h2>
                <ul id="choice" class="option_group"></ul>
                <form name="watr-intake" id="watr-intake" class="d-none">
                    <table class="option_table" id="option_table"></table>
                    <h3 class="float-right pt-3" id="water-content"></h3>
                </form> 
                <p id="note" class="pt-5 d-none"></p>
            </div>
        </div>
        <div class="card-footer text-muted border-info">
            <a id="btn-previous" class="btn btn-primary orb-btn invisible" href="#" onclick="previous()">Previous</a>
            <a id="btn-next" class="btn btn-primary orb-btn float-right invisible" href="#" onclick="next()">Next Question</a>
        </div>
    </div>

    <script type="text/javascript" src="{% static 'assets/dist/js/jquery.js' %}"></script>
    <script type="application/javascript">
        let next_quiz = '{{ next_quiz }}';
        //let skin_concern_data = JSON.parse("{{category_choice|escapejs}}"); 
        let user_name = sessionStorage.getItem("user_name");
        document.querySelector("span.name").innerHTML = user_name;

        let questions = [
            {% for x in questions %}
                {
                    id: '{{ x.id }}',
                    question: '{{ x.name }}',
                    question_code: '{{ x.code }}',
                    choice_data: [
                        {% for c in x.choice_set.all %}
                            {
                                choice_id: '{{ c.id }}',
                                choice_text: '{{ c.name }}'
                            },
                        {% endfor %}
                    ]
                },
            {% endfor %}
        ];
        let question_count = 0;
        let points = 0;
        let preBtn = document.getElementById('btn-previous');
        let nextBtn = document.getElementById('btn-next');
        let question_elm = document.getElementById("question");
        let choice_elm = document.getElementById("choice");
        let option_table = document.getElementById("option_table");
        let ques_count = document.getElementById("ques_count");
        let watr_intake = document.getElementById('watr-intake');
        let water_content = document.getElementById('water-content');
        let note = document.getElementById('note');
        let e1_value;
        let e2_value;
        let e3_value;
        let e4_value;
        ans_data = [];

        window.onload = function () {
            show(question_count);
        };

        let previous = () => {
            question_count--;
            show(question_count);
            let option = document.querySelectorAll("li.option");
            let ans_option = `ans-${ans_data[question_count]}`;
            let ans_option_elm = document.getElementById(ans_option);

            if (ans_option_elm) {
                ans_option_elm.classList.add("active");
            }

        }

        let next = () => {
            let el1 = document.getElementById('ans-125');
            let el2 = document.getElementById('ans-126');
            let el3 = document.getElementById('ans-127');
            //let el4 = document.getElementById('water-content');
            
            if(el1){
                e1_value = el1.value,
                e2_value = el2.value,
                e3_value = el3.value
                //e4_value = water_content.textContent
            }

            let retrieve_ans = document.querySelector("li.option.active");
            if(retrieve_ans){
                ans_data[question_count] = retrieve_ans.dataset.choice_id;
                //retrieve_ans.getAttribute('data-choice_id')
                //ans_data.push(answer_data);
            }else{
                ans_data[question_count] = 0;
            }
            // if the question is last then redirect to final page
            if (question_count === questions.length - 1) {
                nextBtn.classList.add('invisible');
                SaveAns(ans_data);
            } else {
                question_count++;
                show(question_count);
            }
        }

        let show = (count) => {
            watr_intake.classList.add('d-none');
            water_content.classList.add('d-none');
            note.classList.add('d-none');
            nextBtn.classList.add('invisible');
            if (question_count <= 0) {
                preBtn.classList.add('invisible');
            } else {
                preBtn.classList.remove('invisible');
            }

            $(choice_elm).empty();
            $(question_elm).empty();
            $(option_table).empty();
            ques_count.innerHTML = `Question ${count + 1} of ${questions.length}`;
            let question_res = `<h3>Q${count + 1}. ${questions[count].question}</h3>`;
            $(question_elm).append(question_res);
            let choice_data = questions[count].choice_data;
            let choice_res;
            for (let i = 0; i < choice_data.length; i++) {
                if (questions[count].question_code == 107) {
                    watr_intake.classList.remove('d-none');
                    note.classList.remove('d-none');
                    //note.classList.add('mt-5');
                    note.innerHTML = "Note: As per international standards 1ltr = 4.16 glasses"
                    choice_res = `
                                   <tr id='tr-${choice_data[i].choice_id}'>
                                       <td class="pt-0 pb-0" id='td1-${choice_data[i].choice_id}'>${choice_data[i].choice_text}</td>
                                       <td width="20%" class="p-0" id='td2-${choice_data[i].choice_id}'><input type="text" class="form-control formtest" id='ans-${choice_data[i].choice_id}' data-choice_id='${choice_data[i].choice_id}'></td>
                                   </tr>
                                `;
                    $(option_table).append(choice_res);
                } else {
                    choice_res = `<li class="option" id='ans-${choice_data[i].choice_id}' data-choice_id='${choice_data[i].choice_id}'>${choice_data[i].choice_text}</li>`;
                    $(choice_elm).append(choice_res);
                }
            }
            //$("#ans-127").before('<input type="text">');
            //$('<input type="text" class="form-control">' ).insertBefore("#ans-127");
            //$target.after('<input type="text" style="width: 10px">');
            

            if(questions[count].question_code == 107){
                //$('#choice-127').append('<input type="text" class="col-xs-2" id="water">');                
                //$('#choice-127').append('&nbsp;<p style="word-spacing: 10px;"><input type="text" style="width: 50px;margin-left: 30px;" id="water-calc">inltrs inglasses</p>');
                //$('#choice-127').append('<span style="word-spacing: 100px;">&nbsp;<input type="text" style="width: 50px;" id="water-calc">&nbsp;inltrs inglasses</span>');
                $('#td1-127').append('&nbsp;<input type="text" style="width: 50px;margin-left: 30px;" id="water-calc"> in ltrs');
                watercontent();
            }else{
                toggleActive();
            }
        } 
        
        let watercontent = () => {
            let elm1 = document.getElementById('ans-125');
            let elm2 = document.getElementById('ans-126');
            let elm3 = document.getElementById('ans-127');
            let elm4 = document.getElementById('ans-128');
            let elm5 = document.getElementById('ans-129');
            let elm6 = document.getElementById('ans-130');
            elm4.readOnly = true;
            elm5.readOnly = true;
            elm6.readOnly = true;
            let water_info;

            let watre_input = document.getElementById('water-calc');
    
            watre_input.onchange = (e) => {
                let ltrs = e.target.value
                elm3.value = parseFloat(ltrs * 4.16).toFixed(1); 
            }

            //let input = document.querySelector('.formtest');
            //input.onchange = (e) => {}
             //let input = document.querySelector('.formtest');
            //input.onchange = (e) => {}
            //const input = document.querySelector('input');
            //input.addEventListener('change', updateValue);
            //https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement/change_event
            //https://developer.mozilla.org/en-US/docs/Web/API/GlobalEventHandlers/onchange
            
            $("input").focusout(function () {
                let elm = $(this);
                elm4_value = ((elm1.value * 2.2 * 2 / 3 * 30 / 240) + (12 * 30 * elm2.value / 30 / 240));
                elm5_value = (elm4_value - elm3.value);
                elm6_value = (elm5_value / elm4_value * 100);
                elm4.value = parseFloat(elm4_value).toFixed(1);
                elm5.value = parseFloat(elm5_value).toFixed(1);
                elm6.value = parseFloat(elm6_value).toFixed(1);
                
                if (elm1.value >= 0 && elm2.value >= 0 && elm3.value) { //if (elm.attr('id') === 'ans-127')
                    watr_intake.classList.remove('d-none');
                    note.classList.remove('d-none');
                    nextBtn.classList.remove('invisible')
                    let msg = parseFloat(elm6_value);
                    if(msg <= 0){
                        //console.log('Hydrated ( % deficit : 0 or negative)');
                        water_info = 'Hydrated'
                    } else if(msg > 25){
                        //console.log('Dehydrated (% deficit is greater than 25%)');
                        water_info = 'Dehydrated'
                    } else {
                        //console.log('Slightly Dehydrated (  % deficit is less than >0 - 25%)');
                        water_info = 'Slightly Dehydrated' 
                    };
                } else {
                    water_info = '' 
                    nextBtn.classList.add('invisible')
                }
                water_content.classList.remove('d-none')
                water_content.innerHTML = water_info;
            });
        }
        
        let toggleActive = () => {
            let option = document.querySelectorAll("li.option");
            for (let i = 0; i < option.length; i++) {
                option[i].onclick = () => {
                    for (let i = 0; i < option.length; i++) {
                        if (option[i].classList.contains("active")) {
                            option[i].classList.remove("active");
                        }
                    }
                    option[i].classList.add("active");
                    nextBtn.classList.remove('invisible')
                };
            }
        }

        ////////////////////////sae data/////////////
        //let SaveAns = (obj) => {
        let SaveAns = (obj) => {
            let ans_json = JSON.stringify(obj);
            //let primary_concern = '{{ primary }}';
            //let skin_concerns = JSON.parse("{{category_choice|escapejs}}");
            let params = {user_choice : ans_json, user_name : user_name};
            $.ajax({
                url: '/quizapp/quiz_answers/',
                type: 'get',
                contentType: 'application/json',
                data: params,
                dataType: 'json',
                success: function (response) {
                    if (response) {
                        if(next_quiz ===  'True'){
                            WaterIntake();
                            location.href = '/quizapp/skin_concerns/';
                        } else {
                            location.href = `/quizapp/products/${user_name}/`; 
                        }
                    }
                }
            })
        }

        ////////////////////////save water information/////////////
        let WaterIntake = () => {
            let params = {
                user_name : user_name,
                weight : e1_value,
                physical_activity : e2_value,
                water_intake : e3_value,
                status : e4_value
            };
            $.ajax({
                url: '/quizapp/water_info/',
                type: 'POST',
                data: params,
                dataType: 'json',
                success: function (response) {
                }
            })
        }

    </script>
{% endblock %}