{% extends 'base.html' %}{% load static %}
{% block content %}
    <style>
        .big-checkbox {
            width: 30px;
            height: 25px;
        }

        .modal-body {
            background-color: #C0C0C0;
        }

        .card-size {
            min-width: 18rem;
        }

        .modal-card-size {
            min-width: 8rem;
        }
    </style>

    <div class="pricing-header px-3 py-3 pt-md-3 pb-md-0 mx-auto text-center">
        <h1 class="display-4">{{ pc_data.name }}</h1>
        <p class="lead">Quickly build an effective pricing table for your potential customers with this Bootstrap
            example. It?s built with default Bootstrap components and utilities with little customization.</p>
    </div>
    <hr class="border-info mb-0">

    <div class="card-deck mb-4 text-center">
        {% for x in category %}
            <div class="card mt-4 shadow-sm border-info card-size" id="cat-card">
                <div class="card-header border-info">
                    <h5 class="my-0 font-weight-normal">{{ x.name }}</h5>
                </div>
                <div class="card-body border-info">
                    <p>information</p>
                </div>
                <div class="card-footer text-muted border-info">
                    <input type="checkbox" value="{{ x.id }}" class="big-checkbox primary-checkbox" name="primary">
                    <input type="checkbox" value="{{ x.id }}" class="concerns-checkbox" name="checkbox" hidden>
                </div>
            </div>
        {% endfor %}
    </div>
    <a class="btn btn-outline-info" href="{% url 'quizapp:index' %}">Back</a>
    <a class="btn orb-btn float-right invisible concerns" id="concernsBtn">Concerns&raquo;</a>

    <hr class="border-info mb-1">


    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="modal-quiz"
         aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form method="get" action="{% url 'quizapp:skin_quiz' %}">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Primary Concerns</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="card-deck mb-4 text-center" id="card-load">

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Process</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{% static 'assets/dist/js/jquery.js' %}"></script>
    <script type="application/javascript">
        $(document).ready(function () {
            var concernsBtn = $("#concernsBtn");
            var values = [];
            //document.querySelectorAll('input[type="checkbox"]:checked').length;
            $(".primary-checkbox").change(function () {
                let elm = $(this);
                let x = values.indexOf(elm.val());
                if (elm.is(":checked")) {
                    values.push(elm.val());
                    if (values.includes(String(5)) && values.includes(String(6))) {
                        values.splice(x, 1);
                        $(elm).prop('checked', false);
                        alert('skin concerns error: both oily and dry skin is not possible');
                    } else if (values.length > 3) {
                        values.splice(x, 1);
                        $(elm).prop('checked', false);
                        alert('you can select min: 1 and max: 3');
                    } else if (values.length >= 1) {
                        $(concernsBtn).removeClass("invisible")
                    }
                } else {
                    values.splice(x, 1);
                    if (values.length < 1) {
                        $(concernsBtn).addClass("invisible")
                    }
                }
            });


            $(".concerns").click(function () {
                //https://jsfiddle.net/4bnx8acw/15/
                //let elm_test = document.querySelectorAll('input[type="checkbox"]:checked').copy
                let option_elm = document.querySelectorAll('input[type="checkbox"]:checked');
                let elm_clone = $(option_elm).parent().closest("#cat-card");
                $("#modal-quiz").modal('show');
                $("#card-load").html(elm_clone.clone());
                $("#card-load .card").removeClass('card-size').addClass('modal-card-size');
                $('#card-load .primary-checkbox').attr('type', 'radio');
                $('#card-load .concerns-checkbox').prop('checked', true);
            });

            $('#modal-quiz').on('hidden.bs.modal', function () {
                $("#card-load").empty();
            });

        });

    </script>
{% endblock %}